//page transitions  --- START
.page-enter-active, .page-leave-active {
    transition: opacity .3s;
}

.page-enter, .page-leave-to {
    opacity: 0;
}
//page transitions  --- END



// this is used in MainHeader.vue --- START
@keyframes themeSwitch {
    50% {
        transform: translateX(150px);
    }
}
// END



// header logo --- START
@keyframes opacityGrow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header__logo-box {
    opacity: 0;
    animation-name: opacityGrow;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.55,.2,.32,.78);
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}
// header logo --- END



// animations for logo in MainHeader.vue --- START
@keyframes rotateLeft {
    0% {
        transform: rotate(0deg); ;
    }
    100% {
        transform: rotate(-1turn);
    }
}

@keyframes rotateRight {
    0% {
        //transform: rotate(0deg); ;
    }
    100% {
        transform: rotate(1turn); ;
    }
}

.rotate-right {
    animation-name: rotateRight;
    animation-duration: 1.2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.rotate-left {
    animation-name: rotateLeft;
    animation-duration: 1.2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}
// END



// MainHeader.vue menu link animations --- START
@keyframes slideInFromTop {
    0% {
        transform: translateY(-120%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.header__nav ul li {
    opacity: 0;
    animation-name: slideInFromTop;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.header__nav ul li:nth-child(1) {
    animation-delay: 0.1s;
}

.header__nav ul li:nth-child(2) {
    animation-delay: 0.25s;
}

.header__nav ul li:nth-child(3) {
    animation-delay: 0.4s;
}

.header__nav ul li:nth-child(4) {
    animation-delay: 0.55s;
}

.header__nav ul li:nth-child(5) {
    animation-delay: 0.6s;
}
// START



// about.vue intro section animations --- START
@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.intro-section > * {
    opacity: 0;
    animation-name: slideInFromBottom;
    animation-duration: 0.55s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.intro-section {

    &__hello {
        animation-delay: 0.4s;
    }
    &__name {
        animation-delay: 0.5s;
    }
    &__specialization {
        animation-delay: 0.6s;
    }
    &__info {
        animation-delay: 0.7s;
    }
    &__contact-me {
        animation-delay: 0.8s;
    }
}
// END







