
// css reset --- START
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}
// css reset --- END



html {
    font-size: 10px;
}



* {
    outline: none;
}



ul {
    list-style: none;
}



a {
    text-decoration: none;
    @include themify($themes) {
        color: themed('textColor');
    }
}



// font color && background-color --- START
.wrapper {
    @include themify($themes) {
        color: themed('textColor');
        background-color: themed('backgroundColor');
    }
}
// END
