

// link utility
.underlined-link {
    display: inline-block;

    @include themify($themes) {
        color: themed('primaryColor');
    }

    &:after {
        display: block;
        content: '';
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        transform-origin:  0 50%;
        @include themify($themes) {
            border-bottom: solid 1px themed('primaryColor')
        }
    }

    &:hover:after {
        transform: scaleX(1);
        transform-origin:  0 50%;
    }
}


// utility ul li
.inline-ul li {
    display: inline-block;
    margin: 0 10px;
}


.theme-light .light-mode-shadow {
    box-shadow: rgba(46, 41, 51, 0.08) 0px 1px 2px, rgba(71, 63, 79, 0.08) 0px 2px 4px;
}
