$font-size: 16px;


$dark-background-color: #131217;
$dark-secondary-background-color: #232129;
$dark-font-color: #d9d7e0;
$dark-primary-color: rgba(177, 122, 204, 0.61);



$dark-background-color: white;
$dark-secondary-background-color: white;
$light-font-color: black;
$light-primary-color: rgba(177, 122, 204, 0.61);

