$dark-background-color: #131217;
$dark-secondary-background-color: #232129;
$dark-font-color: rgba(217, 215, 224, 0.87);
//$dark-primary-color: rgba(177, 122, 204, 0.61);

//$dark-primary-color: #9a6ab3;
$dark-primary-color: #ddd0ff;

$font-size: 16px;
