
// button
.primary-button {
    font-family: 'SF Mono', sans-serif;
    background-color: transparent;

    @include themify($themes) {
        color: themed('primaryColor');
        border: 1px solid themed('primaryColor');
    }
    border-radius: 3px;

    &:hover {
        @include themify($themes) {
            background-color: rgba(themed('primaryColor'), 0.2);
        }

    }
}

