


// button
.primary-button {
    font-family: 'SF Mono', sans-serif;
    background-color: transparent;
    color: $dark-primary-color;
    border: 1px solid $dark-primary-color;
    border-radius: 3px;

    &:hover {
        background-color: rgba($dark-primary-color, 0.22);
    }
}

