.error-page-wrapper {
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .error {
        padding: 32px;
        @include themify($themes) {
            border-radius: 2px;
            background-color: themed('secondaryBackgroundColor');
        }

        &__heading {
            font-size: 32px;
            margin-bottom: 15px;
            font-weight: 500;
        }

        &__not-found {

            font-weight: 400;
            text-align: center;
            font-size: 40px;
        }
    }
}
