
.about-page {
    max-width: 1600px;
    padding: 0 150px;
    margin: 0 auto;

    @include respond(tablet-landscape) {

        padding: 0 100px;
    }

    @include respond(tablet-portrait) {

        padding: 0 75px;

    }

    @include respond(phone) {

        padding: 0 40px;

    }


    @include respond(phone-s) {

        padding: 0 25px;

    }
    @include respond(phone-x-s) {

    }
}

.intro-section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 150px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @include respond(tablet-portrait) {
        padding: 100px 0;
    }

    &__hello {
        font-size: 1.6rem;
        font-family: "SF Mono", sans-serif;
        margin: 0 0 10px 3px;
        @include themify($themes) {
            color: themed('primaryColor');
        }

        @include respond(tablet-landscape) {
            font-size: 14px;

        }

        @include respond(tablet-portrait) {

        }

        @include respond(phone) {
            font-size: 13px;
        }


        @include respond(phone-s) {

        }
        @include respond(phone-x-s) {

        }
    }


    &__name {
        font-size: 7.5rem;
        line-height: 1.2;
        font-weight: 500;

        @include themify($themes) {
            color: themed('textColor');

        }

        @include respond(tablet-landscape) {
            font-size: 6rem;
            line-height: 1.6;

        }
        @include respond(tablet-portrait) {
            font-size: 4.5rem;
            line-height: 1.7;

        }
        @include respond(phone) {
            font-size: 4rem;
            line-height: 1.3;

        }
        @include respond(phone-s) {
            font-size: 3.3rem;
        }
        @include respond(phone-x-s) {
            font-size: 3rem;
        }
    }

    &__specialization {
        line-height: 1.2;
        font-size: 7.5rem;
        font-weight: 500;

        @include respond(tablet-landscape) {
            font-size: 6rem;

        }
        @include respond(tablet-portrait) {
            font-size: 4.5rem;
        }
        @include respond(phone) {
            font-size: 4rem;
            line-height: 1.3;
        }
        @include respond(phone-s) {

            font-size: 3.3rem;


        }
        @include respond(phone-x-s) {
            font-size: 3rem;
        }
    }



    &__info {
        margin-top: 35px;
        width: 650px;
        font-size: 2rem;


        @include respond(tablet-landscape) {
        }
        @include respond(tablet-portrait) {
            font-size: 1.9rem;
        }
        @include respond(phone) {
            width: 100%;
            font-size: 1.8rem;
        }
        @include respond(phone-s) {
            font-size: 1.6rem;
        }
        @include respond(phone-x-s) {

        }
    }

    &__contact-me {
        font-size: 14px;
        margin-top: 50px;
        padding: 20px 28px;

        .icon {
            display: inline-block;
            margin-bottom: 0;
            margin-right: 10px;
            font-size: 10px;
            transform: scale(3);
        }

        @include respond(tablet-landscape) {

        }
        @include respond(tablet-portrait) {

        }
        @include respond(phone) {
            padding: 16px 24px;
        }
        @include respond(phone-s) {
            padding: 13px 22px;
        }
        @include respond(phone-x-s) {
            padding: 12px 21px;
        }
    }
}





.about-section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 150px 0;

    @include respond(tablet-portrait) {
        padding: 100px 0;
    }

    &__ul-box { // todo refactor
        display: flex;

        & > * {
            width: 50%;

            & > *:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    &__ul-li {
        padding-left: 30px;
        position: relative;

        &:before {
            content: "▹";
            position: absolute;
            left: 0px;
            @include themify($themes) {
                color: themed('primaryColor');
            }
        }
    }


    @include respond(tablet-landscape) {

    }
    @include respond(tablet-portrait) {

    }
    @include respond(phone) {

    }
    @include respond(phone-s) {

    }
    @include respond(phone-x-s) {

    }

    &__flexbox {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;


        @include respond(phone) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

    }

    &__text-box {
        flex: 0 7 560px;
        @include respond(phone) {
            flex: 0 1;
            margin-bottom: 40px;
        }

        & > * {
            margin-bottom: 15px;
        }
    }

    &__image-box {
        flex: 0 8 300px;
        margin-left: 60px;
        position: relative;


        @include respond(tablet-landscape) {

        }
        @include respond(tablet-portrait) {

        }
        @include respond(phone) {
            flex: 0;
            margin-left: 0;
            width: 50%;
        }
        @include respond(phone-s) {
            width: 60%;
        }
        @include respond(phone-x-s) {
            width: 70%;
        }




        &:hover::before {
            transform: translate(4%, 4%)  scale(1);
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            transform: translate(5%, 5%) scale(1);
            transition: all 0.3s;

            @include themify($themes) {
                border: 3px solid themed('primaryColor');
            }
        }

        .image {
            width: 100%;
            max-height: 40%;
            background: url("https://www.wpexplorer.com/wp-content/uploads/wordpress-image-optimization-guide.jpg");
            background-size: contain;
            //filter: opacity(0.5) drop-shadow(0 0 0 rgba(47, 7, 42, 0.81));
            filter: brightness(69%) grayscale(20%);
            transition: all 0.3s;


            @include respond(tablet-landscape) {

            }
            @include respond(tablet-portrait) {
                //height: 250px;


            }
            @include respond(phone) {

            }

            &:hover {
                filter: brightness(100%)  grayscale(0%);
                transform: translate(1%, 1%);
                transition: all 0.3s;
            }
        }

    }



}


.portfolio-section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 150px 0;

    @include respond(tablet-portrait) {
        padding: 100px 0;
    }

    .portfolio-item {
        max-width: 1000px;
        display: flex;
        align-items: center;
        margin-bottom: 120px;


        @include respond(phone) {
            display: block;
            position: relative;
            height: 400px;
        }

        &__image-box {
            position: relative;
            height: 360px;
            flex: 1 6 500px;
            @include respond(phone) {
                display: block;
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
            }

        }
        &__info-box {
            flex: 1 2 500px;
            @include respond(phone) {
                display: block;
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
            }
        }

        &__image {
            position: absolute;
            height: 360px;
            width: 125%;
            min-width: 350px;
            background-size: cover;
            background-position: center;
            filter: opacity(.5);

            transition: all 0.3s;

            @include respond(tablet-landscape) {
                min-width: 350px;

            }
            @include respond(tablet-portrait) {
                min-width: 350px;
            }
            @include respond(phone) {
                min-width: 100%;
                width: 100%;
                height: 100%;
                filter: opacity(.2);
            }


            &:hover {
                filter: opacity(1);
                transition: all 0.3s;
                @include respond(phone) {
                    filter: opacity(0.2);
                }
            }
        }



        &__info-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            @include respond(phone) {
                width: 85%;
                position: absolute;
                top: 0;
                right: 7%;
                height: 100%;
            }

            > * {
                z-index: 20;
            }

        }

        &__featured {
            font-family: 'SF Mono', sans-serif;
            font-size: 13px;
            margin: 10px 0;

            @include themify($themes) {
                color: themed('primaryColor');
            }

            @include respond(phone) {
                margin: 5px 0;
            }
        }

        &__link {
            margin-bottom: 25px;
            font-size: 28px;
            letter-spacing: 1px;
            font-weight: 600;
            transition: all 0.3s;

            @include respond(phone) {
                margin-bottom: 15px;
            }

            &:hover {
                @include themify($themes) {
                    color: themed('primaryColor');
                }
            }
        }

        &__description {
            padding: 25px;
            border-radius: 3px;
            font-size: 15px;
            @include themify($themes) {
                background-color: themed('secondaryBackgroundColor')
            }




            @include respond(phone) {
                padding: 10px 22px;
            }
        }

        &__list {
            margin: 25px 0 10px;
            font-family: 'SF Mono', sans-serif;
            font-size: 13px;
        }
    }
}





.portfolio-item--reverse {
    flex-direction: row-reverse;

    .portfolio-item__image-box {

    }

    .portfolio-item__image {
        right: 0;
    }

    .portfolio-item__info-box {
        align-items: flex-start;
        @include respond(phone) {
            width: 85%;
            position: absolute;
            top: 0;
            right: 7%;
            height: 100%;
        }
    }

    .portfolio-item__description {
        z-index: 3;
    }
}

.contact-section {
    margin: 0 auto 100px;
    padding: 150px 0;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(tablet-portrait) {
        padding: 100px 0;
    }

    .section-heading {
        flex-direction: column;
        font-size: 6rem;
        margin-bottom: 45px;




        @include respond(tablet-landscape) {
        }
        @include respond(tablet-portrait) {
            font-size: 4.8rem;
            margin-bottom: 38px;
        }
        @include respond(phone) {

        }
        @include respond(phone-s) {
            font-size: 4rem;
            margin-bottom: 33px;
        }
        @include respond(phone-x-s) {
            font-size: 3.6rem;
        }
    }

    .section-heading::before {
        content: "03. Есть вопросы?";
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 1.4rem;

    }
    .section-heading::after {
        margin-left: 0px;
        height: 0px;
        width: 0px;
    }

    &__text {
        text-align: center;

    }

    .primary-button {
        font-size: 2.1rem;
        margin-top: 50px;
        padding: 20px 28px;

        @include respond(tablet-landscape) {

        }
        @include respond(tablet-portrait) {
            padding: 16px 24px;

        }
        @include respond(phone) {
            font-size: 1.8rem;
            padding: 14px 22px;

        }
    }
}
